<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>영업관리시스템_고객관리</title>
<link rel="stylesheet" type="text/css" href="../css/sales.css" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
//menu left
$(document).ready(function(){
    $(".menu>a").click(function(){
        var submenu = $(this).next("ul"); 
            if( submenu.is(":visible")){
            submenu.slideUp();
            }else{
            submenu.slideDown();
        }
    });
});
    
//menu top
$(function(){      
  $(".menu li").hover(function(){
    $('ul:first',this).show();
  }, function(){
    $('ul:first',this).hide();
  });
});
</script>

</head>

<body>
	<!-- menuTop -->
    <div class="navbar_aa">
		<div class="nav">
			<h1>
				<a href="#">
					<img src="../images/logo_bizppurio.png" alt="비즈뿌리오로고">
					<span class="f15">영업관리시스템</span>
				</a>
			</h1>
			<ul class="menu m6">
				<li><a href="#" class="nav_second">영업관리</a>                    
					<ul class="sub">
						<li></li>
						<li><a href="#">실적관리</a></li>
						<li><a href="#">담보관리</a></li>
					</ul>
				</li>
				<li><a href="#">고객관리</a>
					 <ul class="sub">
						<li></li>
						<li><a href="#">회원리스트</a></li>
						<li><a href="#">승인 전 회원 리스트</a></li>
						<li><a href="#">해지고객 리스트</a></li>
						<li><a href="#">여신 관리</a></li>
						<li><a href="#">발신번호 관리</a></li>
						<li><a href="#">카카오톡 비즈메시지</a></li>
						<li><a href="#">수동 입출금</a></li>
						<li><a href="#">매입처 관리</a></li>
					</ul>
				</li>
				<li><a href="#">정산관리</a>
					<ul class="sub">
						<li></li>
						<li><a href="#">정산정보설정</a></li>
						<li><a href="#">선불</a></li>
						<li><a href="#">후불</a></li>
						<li><a href="#">영업대행사</a></li>
						<li><a href="#">환불</a></li>
						<li><a href="#">자동이체</a></li>
					</ul>
				</li>
				<li><a href="#">매출/매입관리</a>
					<ul class="sub">
						<li></li>
						<li><a href="#">매출조회</a></li>
						<li><a href="#">선수수익관리</a></li>
						<li><a href="#">영업대행사 매출</a></li>
						<li><a href="#">매입관리</a></li>
					</ul>
				</li>
				<li><a href="#">통계</a>
					<ul class="sub">
						<li></li>
						<li><a href="#">계정별 발송통계</a></li>
						<li><a href="#">라인별 발송현황</a></li>
						<li><a href="#">발송추이</a></li>
						<li><a href="#">발송내역 조회</a></li>                            
					</ul>
				</li>
				<li><a href="#">기타</a>
					<ul class="sub">
						<li></li>
						<li><a href="#">ASP 관리</a></li>
						<li><a href="#">B2C 등록</a></li>
						<li><a href="#">스팸모니터링</a></li>
						<li><a href="#">게시물 관리</a></li>                            
						<li><a href="#">예약발송 취소</a></li>
						<li><a href="#">회원정보 수정</a></li>
						<li><a href="#">정산담당자 정보입력</a></li>                                                        
					</ul>
				</li>
			</ul>
			<div class="btn_box"><!--<a href="#" class="pw mr_3">비밀번호</a>--><a href="#" class="logout">로그아웃</a></div>
		</div>
    </div>
	<!-- //menuTop -->
	
	<!-- sidebar -->
	<div class="sidebar">
		<ul class="nav">
			<li class="menu"><a href="#">ASP 관리</a></li>
			<li class="menu"><a href="#">B2C 등록<i></i></a>
				<ul class="nav_second">
					<li><a href="#">사용자 등록</a></li>
					<li><a href="#">리스트 관리</a></li>
				</ul>
			</li>
			<li class="menu"><a href="#">스팸모니터링</a></li>
			<li class="menu"><a href="#">게시물 관리<i></i></a>
				<ul class="nav_second">
					<li><a href="#">공지/팝업</a></li>
					<li><a href="#">자료실/FAQ</a></li>
					<li><a href="#">온라인상담</a></li>
				</ul>
			</li>
			<li class="menu"><a href="#">예약발송 취소</a></li>
			<li class="menu"><a href="#">회원정보 수정</a></li>			
			<li class="menu"><a href="#">정산담당자 정보 입력</a></li>									
		</ul>
	</div> 
	<!-- //sidebar -->
   
    <!-- contents -->
    <div class="container_r">    
    	<!-- title -->
    	<div class="title_b">
    		<em></em>
    		<h2>공지/팝업</h2>
			<blockquote class="txt_bul_bar"><a href="">홈</a> > <a href="">기타</a> > <a href="">게시물 관리</a> > <a href="">공지/팝업</a></blockquote>
		</div>
		<!-- //title -->
				
		<!-- message -->
		<div class="box_b3 mb_15">
			<ul class="txt_info">
				<li>팝업은 노출기간, 노출여부, 팝업 사이즈를 지정합니다.</li>
			</ul>					
		</div>
		<!-- //message -->
		
		<!-- button -->
		<div class="align_r">
			<a href="" class="btn md btn_gray">목록</a>
		</div>
		<!-- //button -->
		
		<!-- table -->
		<table class="tb_list2_a mt_15">
			<colgroup>
				<col style="width:10.6%">
				<col style="width:22.6%">
				<col style="width:10.6%">
				<col style="width:22.6%">
				<col style="width:10.6%">
				<col style="width:22.6%">
			</colgroup>
			<tbody>
				<tr>
					<th>구분</th>
					<td>
						<select class="w150">
							<option value="1">1</option>
						</select>
					</td>
					<th>서비스</th>
					<td>
						<select class="w150">
							<option value="1">1</option>
						</select>						
					</td>
					<th>카테고리</th>
					<td>
						<select class="w150">
							<option value="1">1</option>
						</select>						
					</td>
				</tr>
				<tr>
					<th><b class="txt_c_red">*</b> 제목</th>
					<td colspan="5">
						<input type="text" class="w300">					
					</td>
				</tr>
				<tr>
					<th><b class="txt_c_red">*</b> 내용</th>
					<td colspan="5">
						<!-- 게시판 에디터 자리 -->
						게시판서식 (유핏 어드민 제공)
						<!-- //게시판 에디터 자리 -->
					</td>
				</tr>
				<tr>
					<th><b class="txt_c_red">*</b> 노출 여부</th>
					<td colspan="5">
						<label for="yesRadios"><input type="radio" id="yesRadios" name="yesRadios" checked="" class="mr_3"> 예</label>
						<label for="noRadios"><input type="radio" id="noRadios" name="noRadios" class="ml_20 mr_3"> 아니오</label>						
					</td>
				</tr>				
				<tr>
					<th><b class="txt_c_red">*</b> 노출 기간</th>
					<td colspan="5">
						<input type="text" class="w100"><button class="calendar"></button>~ <input type="text" class="w100"><button class="calendar"></button>
					</td>
				</tr>
				<tr>
					<th><b class="txt_c_red">*</b> 팝업 사이즈</th>
					<td colspan="5">
						<label for="widthInput">가로 <input type="text" name="widthInput" id="widthInput" class="w100"></label> <span class="ml_3 mr_15" >px</span>
						<label for="heightInput">세로 <input type="text" name="widthInput" id="heightInput" class="w100"></label> <span>px</span>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- //table -->
		
		
		<!-- 하단 버튼 -->
		<div class="btn_area mb_15">
			<a href="#" class="btn lg btn_blue">등록</a>
			<a href="#" class="btn lg btn_gray">취소</a>
		</div>
		<!-- //하단 버튼 -->
	</div>
	<!-- //contents -->
</body>
</html>
